/* 
template : E-Commerce Store
using php mysqli w bs4
By : fajar siagian
followed tutorial
 */


/* general styles */
body{
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f0f0f0;
	overflow-x: hidden;
}

/* top navbar styles*/
#top{
	background: #555;
	padding: 10px 0;
}
#top .offer{
	color: #fff;
}
#top .offer .btn{
	text-transform: uppercase;
}
@media(max-width: 991px){
	#top . offer{
		margin-bottom: 10px;
	}
}
@media(max-width: : 991px){
	#top{
		font-size: 12px;
		text-align: center;
	}
}
#top a{
	color: #fff;
}
#top ul.menu{
	padding-top: 5px;
	margin: 0;
	text-align: right;
	font-size: 12px;
	list-style: none; 
}
@media(max-width: 991px){
	#top ul.menu{
		text-align: center;
	}
}
#top ul.menu>li{
	display: inline-block;
}
#top ul.menu > li a{
	color: #eee;
}
#top ul.menu > li + li:before{
	content: "| \00a0";
	padding: 0 5px;
	color: #f7f7f7;
}

/* header style */
.navbar{
	background: white;
}
.navbar-collapse .right{
	float: right;
}
.navbar-brand{
	float: left;
	padding:10px 15px;
	font-size:18px ;
	line-height: 20px;
	height: 70px;
}
.navbar-brand:hover,
.navbar-brand:focus{
	text-decoration: none;
}
.navbar ul.nav > li > a{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
.padding-nav{
	padding-top: 10px;
}
.navbar ul.nav > li > a:hover{
	background:#e7e7e7e;
}
.btn-primary{
	color:  rgb(255, 255, 255);
	background-color: rgb(79, 191, 168);
	border-color: rgb(65, 179, 156);
}
#search .navbar-form{
	float: right;
}
#search{
	clear: both;
	border-top: solid 1px #9adacd ;
	text-align: right;
}
#search .navbar-form .input-group{
	display: table;
}
#search .navbar-form .input-group .form-control{
	width: 100%;
	
}

/* slider style */
#slider{
	margin-bottom: 40px;
}

/* advantages or icon dibawah slider */
.box{
	background:  #fff;
	margin:  0 0 30px;
	border:  solid 1px #e6e6e6;
	box-sizing: border-box;
	padding: 20px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
#advantages{
	text-align: center;
}
#advantages .box .icon{
	position: absolute;
	font-size: 120px;
	width: 100%;
	text-align: center;
	top: -20px;
	left: 0;
	height: 100%;
	float: left;
	color: #eee;
	transition: all 0.2s ease-out;
	z-index: 1;
	box-sizing: border-box;
}
#advantages .box h3{
	position: relative;
	margin: 0 0 20px;
	font-weight: 300;
	text-transform: uppercase;
	z-index: 2;
}
#advantages .box h3 a:hover{
	text-decoration: none;
}
#advantages .box p{
	position: relative;
	color: #555;
	z-index: 2;
}

/* product styles */
#hot h2{
	text-transform: uppercase;
	font-size: 36px;
	color: #499993;
	font-weight: 100;
	text-align: center;
}